{% extends "DashboardApp/base.html" %}
{% block form %}


<form
    method="post"
    style="background-color: #d3e1e4"
    class="jumbotron text-dark">

    <div>
        <h3 style="text-align: center" class="mt-2 text-dark">Customer Details</h3>
        {% csrf_token %}
    <div class="container">
      <section id="section0">
    
      <div class="form-row">
        <div class="form-group col-md-12">
        <div class="container" style=" margin: auto;
        width: 70%;
        border: 1.5px solid rgb(121, 122, 124);
        padding: 10px;
        border-radius: 2%;">
        <h3 style="text-align: center;
        background-color: rgb(67, 69, 70); color: white;
        font-weight: bold;">Personal Details</h3>
        <div class="cust">
        <ul style="list-style-type: none;
        padding: 0;
        margin-top: 20;">

          <li>Full Name : &nbsp{{customer.full_name}}</li>
          <li>Guardian Name :&nbsp{{customer.guardian_name}}</li>
          <li>Gender :&nbsp{{customer.gender}}</li>
          <li>Mobile No:&nbsp{{customer.mobile}} </li>
          <li>Email :&nbsp{{customer.email}} </li>
          <li>Pan No :&nbsp{{customer.pan_no}} </li>
          <li>Aadhar No :&nbsp{{customer.aadhar_card}} </li>
          <li>Marital Status :&nbsp{{customer.marital_status}} </li>
          <li>Religion :&nbsp{{customer.religion}} </li>
          <li>DOB :&nbsp{{customer.dob}} </li>
        </ul>
        </div>
        </div>
        </div>
        </div> 
      </section>    
</div>

<div class="container">
    <section id="section1">
      <br>
        <div class="form-group col-md-12" mb-1>
          <div class="container" style=" margin: auto;
          width: 70%;
          border: 1.5px solid rgb(121, 122, 124);
          padding: 10px;
          border-radius: 2%;">
          <h3 style="text-align: center;
              background-color: rgb(67, 69, 70);;
              color: white;
              font-weight: bold;">Address Details</h3>
              <div class="cust">
          <ul style="list-style-type: none;
          padding: 0;
          margin-top: 20;">

            <li>Flat No :&nbsp{{paddress.flat_no}}</li>
            <li>Street Name :&nbsp{{paddress.street_name}}</li>
            <li>City :&nbsp{{paddress.city}}</li>
            <li>Pincode :&nbsp{{paddress.pincode}}</li>
            <li>Area :&nbsp{{paddress.area}}</li>
            <li>Landmark :&nbsp{{paddress.landmark}}</li>
            <li>District :&nbsp{{paddress.district}}</li>
            <li>State :&nbsp{{paddress.state}}</li>
            <li>Country :&nbsp{{paddress.country}}</li>
          </ul>
          </div>
          </div>
          </div>
   </section>
   </div><br>
   <div class="container">
    <section id="section2">
      
           <div class="form-group col-md-12">
           <div class="container" style=" margin: auto;
           width: 70%;
           border: 1.5px solid rgb(121, 122, 124);
           padding: 10px;
           border-radius: 2%;">
           <h3 style="text-align: center;
           background-color: rgb(67, 69, 70);
           color: white;
           font-weight: bold;" >Customer Bank Details</h3>
 
           <div class="cust">
           <ul style="list-style-type: none;
           padding: 0;
           margin-top: 20;">
 
         <li>Account Holder Name :&nbsp{{bankdetails.account_holder_name}}</li>
         <li>Account No :&nbsp{{bankdetails.account_no}}</li>
         <li>Bank Name :&nbsp{{bankdetails.bank_name}}</li>
         <li>Branch Name :&nbsp{{bankdetails.branch_name}}</li>
         <li>Account Type :&nbsp{{bankdetails.account_type}}</li>
         <li>IFSC Code :&nbsp{{bankdetails.ifsc_code}}</li>
         <li>MICR Code :&nbsp{{bankdetails.micr_code}}</li>
 
       </ul>
   </div>
   </div>
   </div>
   
   
 </section>
</div><br>
<div class="container">
    <section id="section3">
    
      <div class="form-row">
          <div class="form-group col-md-12">
          <div class="container" style=" margin: auto;
          width: 70%;
          border: 1.5px solid rgb(121, 122, 124);
          padding: 10px;
          border-radius: 2%;">
          <h3 style="text-align: center;
          background-color: rgb(67, 69, 70);
          color: white;
          font-weight: bold;" >Previous Loan Details</h3>
           <div class="cust">
          <ul style="list-style-type: none;
          padding: 0;
          margin-top: 20;">
            <li>Bank Name :&nbsp{{prevloan.bank_name}}</li>
            <li>Branch Name :&nbsp{{prevloan.branch_name}}</li>
            <li>Account No :&nbsp{{prevloan.account_no}}</li>
            <li>IFSC Code :&nbsp{{prevloan.ifsc_code}}</li>
            <li>MICR Code :&nbsp{{prevloan.micr_code}}</li>
            <li>Loan Amount :&nbsp{{prevloan.loan_amount}}</li>
            <li>Loan Type :&nbsp{{prevloan.loan_type}}</li>
            <li>Loan Tenure :&nbsp{{prevloan.loan_tenure}}</li>
            <li>Amount Paid :&nbsp{{prevloan.amount_paid}}</li>
            <li>Amount Remaining :&nbsp{{prevloan.amount_remaining}}</li>
          </ul>
          </div>
          </div>
          </div>
          </div>
        </section>
    </div><br>
    <div class="container">
        <section id="section4">
           <div class="form-row">
          <div class="form-group col-md-12">
          <div class="container" style=" margin: auto;
          width: 70%;
          border: 1.5px solid rgb(121, 122, 124);
          padding: 10px;
          border-radius: 2%;">
          <h3 style="text-align: center;
          background-color: rgb(67, 69, 70);
          color: white;
          font-weight: bold;" >Documents Upload</h3><div class="cust">
          <ul style="list-style-type: none;padding: 1; margin-top: 20;">
              <div class="row text-center">
              <div class="col-md-4">
          <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Photo</h6></a>
              </div>
                  <div class="col-md-4">
          <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Signature</h6></a>
                  </div></div>
            <div class="row text-center">
              <div class="col-md-4">
          <a href="#" class="navbar-brand"><h6 style="color:black">Bank Statment</h6></a>
              </div>
              <div class="col-md-4">
          <a href="#" class="navbar-brand"><h6 style="color:black">Pan Card</h6></a>
              </div>
            </div>
            <div class="row text-center">
            <div class="col-md-4">
              <a href="#" class="navbar-brand"><h6 style="color:black">Aadhar Card</h6></a>
                  </div>
                  <div class="col-md-4">
              <a href="#" class="navbar-brand"><h6 style="color:black">Salary Slip</h6></a>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-md-4">
              <a href="#" class="navbar-brand"><h6 style="color:black">Form16</h6></a>
                  </div>
                  <div class="col-md-4">
              <a href="#" class="navbar-brand"><h6 style="color:black">Balance Sheet</h6></a>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-md-4">
              <a href="#" class="navbar-brand"><h6 style="color:black">ITR</h6></a>
                  </div>
                  <div class="col-md-4">
              <a href="#" class="navbar-brand"><h6 style="color:black">Business Proof</h6></a>
                  </div>
                </div>
       </ul>
      </section>
      </div>
      <br>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" style="margin:20px 0">
    
          <li class="page-item"><a class="page-link" href="#section0">Move Up</a></li>
          
        </ul>
      </nav>
       </div>
    </div></div></div>
    
</form>

{% endblock form %}