{% extends "DashboardApp/customerdetail.html" %}
{% block table %}
<div class="form-row">
    <div class="form-group col-md-12">
        <div class="container" style=" margin: auto;
        width: 70%;
        border: 1.5px solid rgb(121, 122, 124);
        padding: 10px;
        border-radius: 2%;">
            <h3 style="text-align: center;
        background-color: rgb(67, 69, 70);
        color: white;
        font-weight: bold;">Personal Details</h3>
            <div class="cust">
                <ul style="list-style-type: none;
        padding: 0;
        margin-top: 20;">

                    <li>Full Name :{{customer.full_name}}</li>
                    <li>Guardian Name :{{customer.guardian_name}}</li>
                    <li>Gender :{{customer.gender}}</li>
                    <li>Mobile No:{{customer.mobile}}</li>
                    <li>Email :{{customer.email}}</li>
                    <li>Pan No :{{customer.pan_no}}</li>
                    <li>Aadhar No :{{customer.aadhar_card}}</li>
                    <li>Marital Status :{{customer.marital_status}}</li>
                    <li>Religion :{{customer.religion}}</li>
                    <li>DOB :{{customer.dob}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock table%}