{% extends 'DashboardApp/base.html' %}
{% block form %}


<div class="jumbotron">

<h2 style="text-align:center">Show Customer Details</h2>
<table class="table table-striped">
  <tr>
    <th>Full Name</th>
    <th>guardian name</th>
    <th>gender</th>
    <th>mobile number</th>
    <th>email</th>
    <th>pan no</th>
    <th>aadhar no</th>
    <th>marital status</th>
    <th>religion</th>
    <th>dob</th>
    <th>Details</th>

  </tr>
  {% for cus in customer %}
  <tr>
    <td>{{cus.full_name}}</td>
    <td>{{cus.guardian_name}}</td>
    <td>{{cus.gender}}</td>
    <td>{{cus.mobile}}</td>
    <td>{{cus.email}}</td>
    <td>{{cus.pan_no}}</td>
    <td>{{cus.aadhar_card}}</td>
    <td>{{cus.marital_status}}</td>
    <td>{{cus.religion}}</td>
    <td>{{cus.dob}}</td>
    <td><a href="{% url 'show_address' cus.id %}"><button class="btn btn-primary">Show Details</button></a></td>


   </tr>
  {% endfor %}
</table>
</div>

{% endblock form %}