{% extends "DashboardApp/customerdetail.html" %}
{% block table %}

<div class="form-row ">

    <div class="form-group col-md-12 ">
        <div class="container" style=" margin: auto;
        width: 70%;
        border: 1.5px solid rgb(121, 122, 124);
        padding: 10px;
        border-radius: 2%;">
            <h3 style="text-align: center;
        background-color: rgb(67, 69, 70);
        color: white;
        font-weight: bold;">Documents Upload</h3>
            <div class="cust">
                <ul style="list-style-type: none;padding: 0; margin-top: 20;">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Photo</h6></a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Signature</h6>
                            </a>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <a href="#" class="navbar-brand"><h6 style="color:black">Bank Statment</h6></a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="navbar-brand"><h6 style="color:black">Pan Card</h6></a>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <a href="#" class="navbar-brand"><h6 style="color:black">Adhar Card</h6></a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="navbar-brand"><h6 style="color:black">Sallary Slip</h6></a>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <a href="#" class="navbar-brand"><h6 style="color:black">Form16</h6></a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="navbar-brand"><h6 style="color:black">Balance
                                Sheet</h6></a>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <a href="#" class="navbar-brand"><h6 style="color:black">ITR</h6></a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="navbar-brand"><h6 style="color:black">Business
                                Proof</h6></a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock table%}